*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


header{
    background-color: black;
}

p {
    color: white;
}

h1{
    color: white;
    font-size: 5rem;
    text-align: center;
}

h2{
    color: white;
    font-size: 2rem;
}

h3{
    color: white;
    font-size: 2rem;
}

h4{
    color: white;
    font-size: 1rem;
}

li{
    color: white;
    font-size: 1.2rem;
}


body{
    background-color: black;
}

label{
    color: white;
}
/* HEADER */




/* MAIN */

.banner-principal{
    width: 100%;
    height: 30%;
}

.caja-main{
    background-image: url(/images/fondo1.jpg);
    background-size: cover;

}


.iframe-container{
    width: 50%;
    height: 100%;
}

/* .boton-banner{
    position: relative;
    bottom: 100px; 
    left: 200px;
} */

.noticias{
    display: flex;
}

.imagen-noticia{
    margin: 20px;
    width: 30vw;
    justify-content: center;


}

video{
    width: 100%;
    height: 100%;
}


.mercedes-amg-vehic{
    display: flex;
}

.hatchbacks{
    display: flex;
}

.suvs{
    display: flex;
}

.gtr-contacto{
    width: 100vw;
}

#label-novedades{
    display: block;
}


/*TARJETAS*/

.container-tarjetas{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}



.tarjeta{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background-image: url(/images/texturanegra2.jpg);
	box-shadow: 0px 1px 10px gray;
	transition: all 400ms ease-out;
	cursor: default;
}

.tarjeta:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}

.tarjeta img{
	width: 100%;
	height: 210px;
}

.tarjeta .contenido-tarjeta{
	padding: 15px;
	text-align: center;
}

.tarjeta .contenido-tarjeta h3{
	margin-bottom: 15px;
	color: white;
}


.tarjeta .contenido-tarjeta p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}

.tarjeta .contenido-tarjeta a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: white;
	border: 1px solid gray;
	transition: all 400ms ease;
	margin-bottom: 5px;
}

.tarjeta .contenido-tarjeta a:hover{
	background: gray;
	color: #fff;
}

@media only screen and (min-width:320px) and (max-width:768px){
	.contenido-tarjeta{
		flex-wrap: wrap;
	}
	.tarjeta{
		margin: 15px;
	}
}

/* FOOTER */
footer {
    background-color: black;
}

footer ul{
    list-style: none;
}

footer ul li{
    width:fit-content;
    padding: 15px;

}

footer div {
    display: inline-block;
    margin: 40px;
    padding: 15px;
}

.footer-atencion{
    display: inline-block;
    height: 100vph;
}

#logo-footer{
    width: 300px;
    display: inline-block;
    margin-left: 200px;
}
